//$page-width: 297mm;
//$page-height: 420mm;

$page-width: 210mm;
$page-height: 297mm;

$page-margin_top: 10mm;
$page-margin_bottom: 15mm;
$page-margin_left: 10mm;
$page-margin_right: 10mm;

$page-bleed: 4mm;
$tab: 5mm;

$text-color: #000;
$text-color-light: #666;



#pages{

	.page{
		width: $page-width;
		height: $page-height;
		max-width: $page-width;
		max-height: $page-height;
		/*padding-left: $page-margin_left;
		padding-right: $page-margin_right;
		padding-top: $page-margin_top;
		padding-bottom: $page-margin-bottom;*/
		

		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-column-gap: $page-bleed;
		grid-row-gap: $baseline;
		grid-template-rows: repeat(22, 1fr);

		overflow: hidden;

	}
	
	/////////////////
	/// GLobal RUles
	///////////////
	hr{ border: none; height: 0; }


	/////////////////
	/// Specific Recto 
	///////////////
	.recto{

		background: #fff !important;
		
		p{ 
			font-family: 'Maze';
			font-size: 10em;
			font-weight: 200;
			word-wrap: anywhere;
			text-align: left;
			line-height: 1.01em;

			color: red;
		}

		section{
			position: absolute;
			top: -15px;
			left: 0;
			width: 115%;
		}

	}
	
	/////////////////
	/// Specific verso 
	///////////////

	.verso{
	
	}

	//////////////
	// ULTRA SPECIFIQUE
	/////////////////////

}
 
@media print {
 

	@page {
		size: #{$page-width + 2mm} #{$page-height + 2mm}; // if Pixartpirnting, need 1mm around	
		margin: 0; 
	}

	#pages{

	}

}