html{font-size: 18px;background: #fff;}

body{

	&.bgw *{color: var(--c2);}
	&.bgk *{color: var(--c1);}

	height: 100%;

	ul#nav{
		position: fixed;
		width: 250px;
		max-height: 100vh;
		left: -100px;
		margin: $baseline*2 0;
		padding: 0 $unite; // Incluse lateral space as inside otherwise hover bug
		transition: .15s ease;
		box-sizing: border-box;
		overflow: visible scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {display: none;}
		scroll-snap-type: y mandatory;

		&:hover{ left: 0; }

		li.cat{
			margin: 0 0 $baseline*2 0;
			//scroll-snap-align: start;
			overflow: hidden;


			/* Collapse */
			/*&:not(.show){
				//max-height:  .66rem;
				margin: 0 0 $baseline 0;
				li.item, li.item img.cover{max-height: 0; margin: 0;}
			}*/

			h1{
				font-size: .66rem;
				font-weight: 200;
			}
			ul{
				li.item{
					margin: $baseline/2 0;
					scroll-snap-align: start;
					transition: .25s ease;
					max-height: 150px;
					cursor: pointer;
					
					img.cover{
						width: 100px;
						height: 75px;
						max-height: 150px;
						transition: .25s ease;
						object-fit: cover;
	
						&:hover{
							width: 200px;
							height: 150px;
						}	
					}

				}
			}
		}
	}
}