$font-1: "open_sans", sans-serif;
$font-2: "belgika", sans-serif;
$font-3: sans-serif;
$font-4: sans-serif;

$font-size: 10px; // Base 10 pour simplifier les calculs
$baseline: 15px;

html{
    font-family: $font-1;
    font-size: $font-size;
}

/*
@mixin font-size-100($color: $text-color) {
    font-size: $font-size*10;
    line-height: $baseline*8.5;
    font-weight: normal;
    letter-spacing: -1px;
    color: $color;
}
*/