body#index{
	
	#topbar h1{ visibility: hidden;}
	
	main{
		height: calc(100vh - #{$baseline*5});

		nav{
			height: 66vh;
			@include flex();
			@include justify-content(center);
			@include align-items(center);

			ul{
				
				width: 100%;
				text-align: center;

				li{
					@include f1-s2();
					font-size: $font-size*1.5;
					line-height: 180% !important;
					text-shadow: 0 0 10px var(--cc);
					display: inline-block;
					
					a{
						padding: $baseline/2 $unite/2;
					}
 				
					video{
						position: fixed;
					  left: 50%;
					  bottom: 0;
					  transform: translateX(-50%);
					  min-width: 100vw;
					  min-height: 100vh;
						mix-blend-mode: color-dodge;//lighten;// overlay hard-light;
						//visibility: hidden;
						opacity: 0;
						transition: opacity 0s;
						z-index: -1;

						&.wasActivate{opacity: .05;}
					}
				
					&:hover{
	 					video{opacity: 1;}
					}


				}
			}
		}


		@include for-size(desktop){
			min-height: calc(100vh - #{$baseline*8});
			nav ul li a{padding-left: $unite; padding-right: $unite;}
		}
	}
}