body#index{
	
	#topbar h1{ visibility: hidden;}
	
	main{
		height: calc(100vh - #{$baseline*5});

		nav{
			height: 66vh;
			@include flex();
			@include justify-content(center);
			@include align-items(center);

			ul{
				
				width: 100%;
				text-align: center;

				li{
					@include f1-s2();
					font-size: $font-size*1.5;
					line-height: 180% !important;
					text-shadow: 0 0 10px var(--cc);
					display: inline-block;
					
					a{
						padding: $baseline/2 $unite/2;
						z-index: 1;
					}
					

 					.videoWrapper{
							
						position: fixed;
						left: 0;
						top: 	0;
						visibility: hidden;

						&:before{
						  content: '';
						  position: absolute;
							background: var(--bg);	
						  top: 0;
						  right: 0;
						  bottom: 0;
						  left: 0;
							mix-blend-mode: hard-light;
						}



						video{
						  left: 50%;
						  transform: translateX(-50%) scale(1);
						  min-width: 100vw;
						  min-height: 100vh;
							//mix-blend-mode: lighten; //hard-light; //color-dodge;//lighten;// overlay hard-light;
							z-index: -1;

						}
					}
				
					&:first-of-type .videoWrapper:before{ mix-blend-mode: lighten; }

					&:hover{
	 					.videoWrapper{
		 					visibility: visible;
	 						video{
		 						transform: translateX(-50%) scale(1.25); 
		 						transition: all 0s, transform 5s linear;
		 					}
		 				}
					}


				}
			}
		}


		@include for-size(desktop){
			min-height: calc(100vh - #{$baseline*8});
			nav ul li a{padding-left: $unite; padding-right: $unite;}
		}
	}
}