body#categorie{
	
	main{
		header{
			/*Fallback */ margin-top: calc(100vh - #{$baseline*5} - 4rem);
			margin-top: calc(100vh - #{$baseline*3} - clamp(4rem, 15vw, 200px) );
			@include for-size(desktop){ 
				/*Fallback */ margin-top: calc(100vh - #{$baseline*5} - 150px);
				margin-top: calc(100vh - #{$baseline*4} - clamp(4rem, 15vw, 200px) );
			}

			h1{
				font-family: $font-1;
				line-height: 80%;
				font-size: 4rem;
				font-weight: $bold;
				@include for-size(desktop){
					font-size: 150px;
					font-size: calc(clamp(4rem, 15vw, 200px));
				}
			}

			.exp{
				position: absolute;
				top: $baseline*-1;
			}
		}

		.content{
			max-width: 400px;
			/*Fallback */ margin: #{$baseline*6} 0 #{$baseline*12} 0;
			margin: calc(clamp(#{$baseline*6}, 25vh, 300px)) 0 calc(clamp(#{$baseline*6}, 25vh, 300px)) 0;
		}

		#pièces{
			height: 33vh;
			max-height: 300px;
			margin: 20vh 0 20vh;
		}
	}	

	#sideNav.inline{
		bottom: 250px;
		/*Fallback */ margin: #{$baseline*6} 0 #{$baseline*12} 0;
		margin: 0 0 calc(clamp(#{$baseline*6}, 20vh, 600px)) 0;

	}
}