body#index{
	main{
		height: calc(100vh - #{$baseline*5});
		
		nav{
			@include f1-s2();
			line-height: 150% !important;
			transform: translateY(-50%);
			top: 40%;
			position: absolute;
			transition: .25s ease;

			&:hover + video{visibility: hidden;}
			&:hover + video + video{visibility: visible;}
		}

		video{
			position: fixed;
		  left: 50%;
		  bottom: 0;
		  transform: translateX(-50%);
		  min-width: 100vw;
		  min-height: 100vh;
			mix-blend-mode: lighten;
			z-index: -1;

			&:nth-of-type(2){visibility: hidden;}
		}

		@include for-size(desktop){ 	
			min-height: calc(100vh - #{$baseline*8});
			nav{
			@include f1-s4();
			}
		}
	}
}