:root{
	--cR: hsl(5, 80%, 50%); // r
	--cRR: hsl(15, 80%, 50%);
	--cRRR: hsl(30, 80%, 50%);
	--cW: hsl(0, 0%, 100%); // w
	--cWW: hsl(0, 0%, 95%);
	--cWWW: hsl(0, 0%, 90%);
	--cK: hsl(0, 0%, 0%); // b
	--cKK: hsl(0, 0%, 15%);
	--cKKK: hsl(0, 0%, 30%);
	
	--dur: 15s;
	--rot: -45deg;
}

::-moz-selection, ::selection {
	color: var(--bg);
  background-color: var(--cc);
}

body{
	
	background: var(--bg); 
	color: var(--cc);
	
	&.ccR{ --cc: var(--cR); }
	&.ccW{ --cc: var(--cW); }
	&.ccK{ --cc: var(--cK); }
	&.bgR{ --bg: var(--cR); --bgg: var(--cRR); --bggg: var(--cRRR); }
	&.bgW{ --bg: var(--cW); --bgg: var(--cWW); --bggg: var(--cWWW); }
	&.bgK{ --bg: var(--cK); --bgg: var(--cKK); --bggg: var(--cKKK); }

	&.pulse{
		animation: pulse 2s steps(4) infinite;		
		@keyframes pulse {
			0% { background-color: var(--bg); }
			33% { background-color: var(--bgg); }
			66% { background-color: var(--bggg); }
			100% { background-color: var(--bg); }
		}
	}

	&.ryochi{
		color: var(--cc);
		animation: ryochi .15s steps(2) infinite;		
		@keyframes ryochi {
			0% { background-color: var(--cc); }
			100% { background-color: var(--bg); }
		}
	}
}