/*
    SideNav
            */  

nav#sideNav{

  // container 
  position: fixed;
  transition: all 0.5s ease-in-out, width 0s, margin 0s, padding 0s, left 0s;
  box-sizing: border-box;
  overflow: visible scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {display: none;}
  z-index: 5;  

  @include for-size(desktop){
    transform: translateX(#{$unite*-8});
    left: 0;
  }

  *{border: 1px solid;}
  li.cat{
    ul.item-container{
      @include flex();
      h1{@include f1-s0();}
      li.item{
        img.cover{
          transition: all .25s ease-in-out;//0s, height .25s ease, width .25s ease;   
        }
      }
    }
  }

  /*
      ☰ 
      ↓
          */
  &:not(.inline){
    position: fixed;
    overflow: visible scroll;
    scroll-snap-type: y mandatory;
    @include for-size(phone){
      width: 90vw;
      height: 100vh;
      top: 0;
      left: calc(-90vw + #{$unite*2});
      padding: $baseline*2 $unite $baseline*2 $unite*2;
      &:hover{
        border-right: 1px solid currentColor;
        background: white;
      }    
    }    
    @include for-size(desktop){
      width: $unite*10;
      height: 100vh;
      height: calc(100vh - #{$baseline*7});
      padding: 0 $unite $baseline*2 $unite; // Incluse lateral space as inside otherwise hover bug
    }

    // Toggle Button
    label[for="toggle-sideNav"]{
      content: "Pièces";
      @include f1-s0();
      cursor: pointer;
      position: absolute;
      top: $baseline*5;
      right: 0;
      padding: .5rem $unite/2 .5rem 0;
      opacity: 1;
      border-bottom: 1px solid currentColor;
      transform: rotate(90deg);
      transition: opacity .25s ease-in-out;

      @include for-size(desktop){top: $baseline*1.75;}
    }

    // inside behavior
    ul.cat-container{      
      li.cat{
        margin: 0 0 $baseline*2 0;
        //scroll-snap-align: start;
        overflow: hidden;
        ul.item-container{
          @include flex-direction(column);
          @include align-items(flex-start);
          gap: 0;
          li.item{
            margin: $baseline/6 0;
            scroll-snap-align: start;
            transition: all .25s ease, max-height .5s ease-in-out, margin 0s;
            max-height: 150px;
            cursor: pointer;
            
            img.cover{
              height: 75px;
              max-height: 150px;
              //transform-origin: left;
              &:hover{height: 150px;}
            }
          }
        }
      }
    }
  }
  
  /*
      ||| →
              */
  &.inline{
    position: absolute;
    width: 100vw;

    @include for-size(desktop){ 
      left: $unite*4;
    }

    > label{ opacity: 0; position: absolute;}

    *{user-select: none;}

    > ul.cat-container{
      width: auto;
      height: 100%;
      padding: 0 #{$unite*4}; // trick the transition
      scrollbar-width: none;
      overflow: scroll hidden;
      white-space: nowrap;

      &.active li.item a{
        cursor: grab !important; 
      }
      li.cat{
        display: inline-block;
        padding-right: $unite*4;
        vertical-align: top;
        label{
          position: sticky;
          top: 0;
          left: 0;
          margin: $baseline*2 0; 

        }

        /*input[name="toggle-c"]:checked ~*/ 
        ul.item-container {
          @include flex-direction(row);
          @include align-items(center);
          li.item{
            display: inline-block;
            white-space: nowrap;
            margin: $baseline $unite/2 $baseline 0;

            a{display: inline-block;}

            img.cover{
              width: 20vw;
              max-width: 250px;
              //max-height: $mh;
              &:hover{
                //width: 25vw;
                //max-width: 500px;                
              }           
            }
          }
        }
      }
    }
  }

  // Collapse unecessary Category
  nav#sideNav:not(.inline) input[name="toggle-c"]:not(:checked) ~ ul li.item{
    max-height: 0; overflow: hidden; margin: 0;

  }
}

// Open / Close
nav#sideNav:not(.inline):hover, 
nav#sideNav:not(.inline):focus, 
input#toggle-sideNav:checked + nav:not(.inline){
  transform: translateX(0);
}
