#topbar{
	@include flex();
	@include justify-content(space-between);
	z-index: 5;
	margin-top: $baseline*2;
	margin-bottom: $baseline*2;
	@include for-size(desktop){
		margin-top: $baseline*3;
		margin-bottom: $baseline*3; 
	}

	*{ @include f1-s1(); font-weight: $bold; }

	nav{
		cursor: pointer;
		max-height: $baseline;
		text-align: right;
		overflow: hidden;
		transition: max-height .25s ease;

		> *{ 
			//top: -.25rem; 
			transform: translateY(0); 
			transition: transform .25s ease;
		}
		
		&:hover {
			> *{transform: translateY(-$baseline);}
		}
		@include for-size(phone){
			position: absolute;
			right: 0;
			&:hover {max-height: $baseline*3;}
		}
		
		span{display: inline-block;}
		
		> ul {
			> li{
				display: inline-block;
				text-transform: capitalize;
				padding-left: $unite/2;
			}
		}
	}
}